.Главное_меню{
    color: red;
}



.Дополнительное_меню_ОТИ{
    display: none;
}
.Отдел_творческих_инициатив:focus ~ .Дополнительное_меню_ОТИ,
.Отдел_творческих_инициатив:active ~ .Дополнительное_меню_ОТИ,
.Дополнительное_меню_ОТИ:hover{
    display: block;
}



.Дополнительное_меню_ЦМК{
    display: none;
}
.Центр_Музыкальной_Културы:focus ~ .Дополнительное_меню_ЦМК,
.Центр_Музыкальной_Културы:active ~ .Дополнительное_меню_ЦМК,
.Дополнительное_меню_ЦМК:hover{
    display: block;
}



.Дополнительное_меню_ЦСИ{
    display: none;
}
.Центр_современного_искусства:focus ~ .Дополнительное_меню_ЦСИ,
.Центр_современного_искусства:active ~ .Дополнительное_меню_ЦСИ,
.Дополнительное_меню_ЦСИ:hover{
    display: block;
}



.Дополнительное_меню_АС{
    display: none;
}
.Административный_сектор:focus ~ .Дополнительное_меню_АС,
.Административный_сектор:active ~ .Дополнительное_меню_АС,
.Дополнительное_меню_АС:hover{
    display:block;
}